body,
html {
    margin: 0;
    padding: 0;
}

.image {
    background-position: 50% 0;
    background-size: cover;
}

.error {
    color: red;
}

.delete {
    position: absolute;
    top: 0;
    right: 15px;
}